body {
  padding: 0;
  margin: 0;
 font-family: 'Prompt', sans-serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*====================*/

/*====Hero-section====*/
.hero-area{
  background: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 78px;
}
/*====Header-section====*/
.header-area{
    overflow: hidden;
    padding-bottom: 114px;
    padding-top: 30px;
}
.container{
  max-width: 1081px;
  width: 100%;
  margin: auto;
}

/*====logo-section====*/
.logo-area{
    float: left;
    width: 20%;
    overflow: hidden;
}
.logo-area a{

}
.logo-area a img {
width: 100px;
}
/*====nav-menu-section====*/
.nav-menu{
float: left;
width: 60%;
overflow: hidden;
}

.nav-menu ul{
text-align: center;
}
.nav-menu ul li{
display: inline;
}
.nav-menu ul li a{
font-family: 'Prompt';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

text-align: center;
letter-spacing: 0.5px;

color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    margin: 20px 10px;
}
/*====social-section====*/
.social-area{
float: left;
    width: 20%;
    overflow: hidden;
    padding-top: 15px;
}
.social-butn{
  background: #FF1616;
    border-radius: 28px;
    padding: 8px 11px;
    display: inline-block;
}
.social-area a{
font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    padding: 0px 5px;
}
.social-area a img{

}
.social-area a img:hover{
background: #FF1616;
border-radius: 25px;
}

/*===Banner-section===*/
.banner-area{

}

.text-area{
     max-width: 712px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.text-area h1{
font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-area p{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 173.5%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 26px;
    padding-bottom: 25px;
}

.text-area a{
font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #FF1616;
    border-radius: 28px;
    display: inline;
    padding: 16px 32px
}
.bel-voor{

}
.bel-voor p{
font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
}